section {
  grid-template-rows: 200px 200px;
  gap: 27px 24px;
  margin-bottom: 24px;
}
section img:first-child {
  grid-column: 1/3;
  grid-row: 1/-1;
}
section img:nth-child(3) {
  grid-row: 2;
}
section img:last-child {
  grid-row: 1/-1;
}