.container {
  max-width: 1200px;
  margin-inline: auto;
}
.bg-black {
  background: #000;
  width: 100vw;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.grid-template-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-template-col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.align-items-center {
  align-items: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.gap-8 {
  gap: 8px;
}
.gap-24 {
  gap: 24px;
}
.gap-35 {
  gap: 35px;
}
.gap-100 {
  gap: 100px;
}
.bg-yellow {
  background: #FFC756;
}
.bg-orange {
  background: #F66139;
}
.bg-lavender {
  background: #7F8FFE;
}
.bg-green {
  background: #56B78C;
}